<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="invoice p-5">
                    <h2>Hello {{ user.firstName }}! Your Order is Confirmed!</h2>
                    <br>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span>
                                            <span></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order No</span>
                                            <span></span>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Ticket ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td width="20%"> <span class="font-weight-bold">1234567</span>
                                    </td>
                                    <td width="60%"> <span class="font-weight-bold">Shashank Shekhar</span>
                                        <div class="product-qty"> <span class="d-block">Quantity: 1</span>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">$190.00</span> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%"> <span class="font-weight-bold">1234567</span>

                                    <td width="60%"> <span class="font-weight-bold">John Doe</span>
                                        <div class="product-qty"> <span class="d-block">Quantity:1</span>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">$160.00</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th>Parking In Time</th>
                                    <th>Parking Out Time</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td width="20%"> <span class="font-weight-bold">12:30pm</span>
                                    </td>
                                    <td width="20%"> <span class="font-weight-bold">1:30 pm</span>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right"> <span class="font-weight-bold">$80.00</span> </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$168.50</span> </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="text-success">$168.50</span> </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">$238.50</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>