/* Add application styles & imports to this file! */
body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.66667;
}

.container {
    width: 75%;
    margin: 3rem auto;
}

h2 {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-slider--tabs:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
}

.tab-slider--tabs.slide:after {
    left: 50%;
}

.tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #2b2b2b;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-slider--trigger.active {
    color: #fff;
    background: #2b2b2b;
}

.tab-slider--body {
    margin-bottom: 20px;
}

table {
    width: 100%;


}

td {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

th {
    font-size: medium;
    border-bottom: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

tr:hover {
    background-color: #D6EEEE;
}